<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SH_OBD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SH_OBD.Properties.Settings>
            <setting name="SH_OBD_MES1_WebServiceDemo" serializeAs="String">
                <value>http://localhost:53827/webservicedemo.asmx</value>
            </setting>
        </SH_OBD.Properties.Settings>
    </applicationSettings>
</configuration>